vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign


build
**/*/node_modules


# User-specific stuff
.idea/**/


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
